extends layout

block content

	.topstuff
		.quote= quote

		a(href="/gender"): img(src='/images/gender.png')
		a(href="/family"): img(src='/images/family.png')
		a(href="/education"): img(src='/images/education.png')
		a(href="/social"): img(src='/images/social.png')
		a(href="/self"): img(src='/images/image.png')

	.floatleft:  a(href = "/story") Add a story?
	br

	hr
	h2= category

	
	if stories
		.stories
		for story in stories
			h2= story.title
			p= story.text
			if story.connects
				p= story.connects
			button.connect(data-name=story.title) Connect

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="/javascripts/client.js")